@import "./reset.css";
@import "./vars.css";
@import "./codemirror.css";

html {
	color: white;
	font-size: 1.25em;
	font-family: monospace;
}

body {
	background-color: var(--page-background-color);
	min-height: 100vh;
	display: grid;
	grid-template-areas: 
		"head"
		"content"
		"foot";
	grid-template-columns: 1fr;
	grid-template-rows: 4.5em auto 3em;
}

ul {
	list-style-type: disc;
	list-style-position: inside;
}

header {
	background-color: var(--term-background-color);
	font-size: 1.5em;
	grid-area: head;
	display: flex;
	padding: 0 calc(var(--horizontal-pad) + 10vw);
	justify-content: space-between;
	line-height: 3em;
	text-align: center;
}

footer {
	background-color: var(--term-background-color);
	grid-area: foot;
	line-height: 3em;
	text-align: center;
}

main {
	grid-area: content;
	padding: 2em 0;
	display: grid;
	grid-template-areas: 
		". instr opts    ."
		". term  context ."
		". feat  feat    .";
	grid-template-rows: 5em 60vh auto;
	grid-template-columns: var(--horizontal-pad) 3fr 1fr var(--horizontal-pad);
	row-gap: 2em;
}

#instructions {
	background-color: var(--page-background-color);
	font-size: 1.25em;
	grid-area: instr;
}

#options {
	background-color: var(--page-background-color);
	font-size: 1.25em;
	grid-area: opts;
}

#terminal {
	grid-area: term;
	overflow-y: scroll;
	background-color: var(--term-background-color);
	user-select: none;
}

#context {
	grid-area: context;
}

#features {
	background-color: var(--page-background-color);
	font-size: 1.25em;
	grid-area: feat;
}