@import "./reset.css";
@import "./vars.css";
@import "./codemirror.css";

html {
	color: white;
	font-size: 1.25em;
	font-family: monospace;
}

body {
	background-color: var(--page-background-color);
	min-height: 100vh;
	display: grid;
	grid-template-areas: 
		"head"
		"content"
		"foot";
	grid-template-columns: 1fr;
	grid-template-rows: 4.5em auto 3em;
}

header {
	background-color: var(--term-background-color);
	font-size: 1.5em;
	grid-area: head;
	display: flex;
	padding: 0 calc(var(--horizontal-pad) + 10vw);
	justify-content: space-between;
	line-height: 3em;
	text-align: center;
}

footer {
	background-color: var(--term-background-color);
	grid-area: foot;
	line-height: 3em;
	text-align: center;
}

main {
	grid-area: content;
	padding: 2em 0;
	display: grid;
	grid-template-areas: 
		". instr   instr   opts    ."
		". prompt  input   context ."
		". history history context ."
		". feat    feat    feat    .";
	grid-template-rows: auto 1.5em 50vh auto;
	grid-template-columns: var(--horizontal-pad) auto 3fr 1fr var(--horizontal-pad);
}

#instructions {
	background-color: var(--page-background-color);
	font-size: 1.25em;
	grid-area: instr;
}

#options {
	background-color: var(--page-background-color);
	font-size: 1.25em;
	grid-area: opts;
}

#prompt {
	background-color: var(--term-background-color);
	font-size: 1.125em;
	grid-area: prompt;
	line-height: 1.5em;
	text-align: center;
	padding-left: 0.25em;
}

#input {
	grid-area: input;
}

#history {
	grid-area: hist;
}

#context {
	grid-area: ctx;
}

#features {
	background-color: var(--page-background-color);
	font-size: 1.25em;

	grid-area: feat;
}